<nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
  <ul
    class="navbar-nav ml-auto"
    style="float: right; position: absolute; right: 0"
  >
    <div class="topbar-divider d-none d-sm-block"></div>
    <li class="nav-item dropdown no-arrow">
      <div style="width: max-content; text-align: center; padding: 0.5rem">
        <h5 style="color: white">Dhaval Darji</h5>
        <span style="color: ghostwhite">Full Stack Developer</span>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="userDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img
          class="img-profile rounded-circle"
          src="https://lh3.googleusercontent.com/a/AGNmyxazHhtWr_UxFMuGns8IVwHEDJRegOZ5raSM8uA6RA=s96-c-rg-br100"
          style="max-width: 60px"
        />
      </a>
    </li>
  </ul>
</nav>
<!-- Topbar -->
